:root {
	--main-bg-color: #3c99dc;
	--main-content-color: #66d3fa;
	--color1: #2565ae;
	--color2: #d5f3fe;
	--color3: #0f5298;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
iframe {
	border: #0f5298 0.7vw solid;
}
body {
	background-color: var(--main-bg-color);
}
#wiki-list {
	text-align: left;
	margin-left: 8vw;
}
a {
	text-decoration: none;
	color: white;
}
a:visited {
	color: white;
}
/* On line 32 I didn't wanna create a new class for the links but using .grid-item>a or grid-item>* didn't work for some reason for selecting the links as .grid-item children inside the :not selector. */
a:not(.grid-img-link):hover {
	background: var(--main-content-color);
}

#page-wrapper {
	background-color: var(--color2);
	margin-left: 20vw;
}
#nasdaq-link {
	padding: 15.5px;
	max-height: 80px;
}
#header-img {
	max-height: 100px;
	max-width: 150px;
}
/* Large screens */
.nav-bar {
	background-color: var(--color3);
	flex-flow: row nowrap;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 10px;
	max-height: 80px;
	/*The following will make nav-bar sticky */
	position: fixed;
	width: 100vw;
	top: 0;
	z-index: 100;
}
/* Medium screens */
@media all and (max-width: 800px) {
	.nav-bar {
		/* When on medium sized screens, center it by evenly distributing empty space around items */
		justify-content: space-around;
	}
	.sidenav {
		display: none;
	}
	#page-wrapper {
		margin-left: 0;
		left: 0;
	}
}
/* Small screens */
@media all and (max-width: 630px) {
	#page-wrapper {
		margin-left: 0;
		left: 0;
	}
	#header-img {
		display: none;
	}
	#nasdaq-link {
		display: none;
	}
	.nav-bar {
		/* On small screens, we are no longer using row direction but column */
		flex-direction: column;
		position: relative;
		max-height: none;
	}
	.nav-bar a {
		width: 100%;
		text-align: center;
		padding: 10px;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	.nav-bar li:last-of-type a {
		border-bottom: none;
	}
	.sidenav {
		display: none;
	}
	.message-div img {
		display: none;
	}
}
.nav-bar a {
	text-decoration: none;
	padding: 1em;
	font-size: 1.5em;
	font-weight: bold;
	display: block;
}
.sidenav {
	height: 100%;
	width: 20vw;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.main-grid {
	padding: 0px 10px 50px 10px;
	top: 80px;
	display: grid;
	/*grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));*/
	grid-template-columns: repeat(auto-fill, minmax(25vmax, 1fr));
	gap: 0.3rem;
}
.grid-image {
	height: 15vmax;
	width: 25vmax;
	border-radius: 15%;
	border: var(--color3) 0.5vw solid;
	/*zoom in for hover*/
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}
.grid-image:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.grid-item {
	justify-self: center;
	align-self: center;
}
.message-div {
	position: relative;
	display: inline-block;
	padding: 0px 30px;
	margin-top: 80px;
	margin-bottom: 4vw;
	width: 100%;
	text-align: center;
	font-size: 1.3em;
}
.message-div img {
	height: auto;
	max-width: 35vw;
	border: var(--color3) 0.3vw solid;
}
